
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}


header {
  background-color: #1a1a2e;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #ff6b2b;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ff6b2b;
}


section {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

h2, h3 {
  color: #1a1a2e;
  margin-bottom: 15px;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

/* ESTILOS DE TEXTO */
p {
  margin-bottom: 15px;
}

strong {
  color: #ff6b2b;
}

/* FORMULARIOS (Pagina Contacto) */
form p {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #ff6b2b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #e94560;
}

/* PIE DE PAGINA */
footer {
  background-color: #1a1a2e;
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: 50px;
}

footer a {
  color: #ff6b2b;
  text-decoration: none;
}

/* MAPA */
iframe {
  border-radius: 8px;
  border: 1px solid #ddd;
}

a {
  text-decoration: none;
}


/* Botón para subir */
.boton-subir {
  position: fixed;   /* Lo deja fijo en la pantalla */
  bottom: 20px;      /* Distancia desde abajo */
  right: 20px;       /* Distancia desde la derecha */
  background-color: #ff6b2b;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2); /* Sombrita simple */
}

.boton-subir:hover {
  background-color: #1a1a2e; /* Cambia de color al pasar el mouse */
}

/* Efecto de subida suave (opcional, muy pro para un estudiante) */
html {
  scroll-behavior: smooth;
}
